@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/inter/Inter-VariableFont.ttf') format('ttf-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root{
    font-family: 'Inter';
}

::selection{
    @apply bg-darkPrimary text-white;
}
